.form{
  margin: 30px;
} 
.todo-button {
  border-radius: 50px;
  border: none;
  padding: 10px 35px;
  background-color: rgba(52, 112, 146, 0.664);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor:pointer;
}
.todo-button:hover {
  background-color: rgba(110, 168, 202, 0.664);
}
.themes {
  border-radius: 10px;
  padding: 0.6rem;
  color: whitesmoke;
  background-color: #628fab;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.label-select {
  font-size: 20px;
  color: teal;
  margin: 10px;
}

@media (max-width: 900px) {
  .form{
      margin: 10px;
  } 
  
  .todo-button {
      padding: 10px 25px;
      font-size: 15px;
      margin-right: 30px;
  }
  
    .label-select {
      display: none;
    }
}