section {
  font-size: 24px;
  display: none;
  line-height: 1.5;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 15%;
  min-height: 60%;
  width: 60%;
  padding: 2rem;
  overflow: auto;
  background-color: rgb(229, 228, 151);
  background-color: rgb(196, 224, 222);
  opacity: 0.95;
  text-align: center;
  border-radius: 30px;
}
section .icons{
  float: right;
}
section .newTaskinput {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 30px;
  font-size: 30px;
}
section .weekDay input {
  font-size: 36px;
  border: none;
  width: 30px;
}
section .newTaskAddBtn {
  border: none;
  font-size: 42px;
  background: transparent;
  color: aquamarine;
}
section .taskBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
section button {
  background-color: #fff;
  color: teal;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 18px;
  margin: 20px 50px;
}
label {
  width: 30px;
  color: teal;
  font-size: 24px;
}
input{
    margin-top: 50px;
    padding: 5px;
}